files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;

          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;

          ssl_session_timeout  5m;

          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_prefer_server_ciphers   on;

          # For enhanced health reporting support, uncomment this block:

          #if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
          #    set $year $1;
          #    set $month $2;
          #    set $day $3;
          #    set $hour $4;
          #}
          #access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;
          #access_log  /var/log/nginx/access.log  main;

          location / {
              proxy_pass  http://nodejs;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header        X-Forwarded-Proto https;
          }
      }

  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDZjCCAk4CCQCmNxovebA3pTANBgkqhkiG9w0BAQsFADB1MQswCQYDVQQGEwJS
      VTELMAkGA1UECAwCTk4xGDAWBgNVBAcMD05pemhueSBOb3Znb3JvZDEcMBoGA1UE
      CgwTRGVmYXVsdCBDb21wYW55IEx0ZDEhMB8GCSqGSIb3DQEJARYSbW9yc3NrbzFA
      Z21haWwuY29tMB4XDTIxMTAwNDExMzgxNFoXDTIyMTAwNDExMzgxNFowdTELMAkG
      A1UEBhMCUlUxCzAJBgNVBAgMAk5OMRgwFgYDVQQHDA9OaXpobnkgTm92Z29yb2Qx
      HDAaBgNVBAoME0RlZmF1bHQgQ29tcGFueSBMdGQxITAfBgkqhkiG9w0BCQEWEm1v
      cnNza28xQGdtYWlsLmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEB
      AK9Dh6ssdThfyE7it1SsZDEU4GdDk6zzchVZN1A7Mvw+SXtiL9K0ujbihO1bpR3d
      Oq3mxjF5pGPF36G3JIobXNBHL22BqbYuZlIlmLnu/PH55AfEIBwE8dvFIpDxJVSc
      h4750rpnTLauE2Ju2XRaGPOfqAEzwMwjGtS5cwB3H+jE/PWrx4xKaJHwkeIjpKJS
      TBysZwv7TOdiw7L6/z94R5gYreCZFNpqQtVrcRYPWkExY3mwhg7WbQAQvzQo1WXu
      F3Q2e7oAZhwHwNL/preHG/G36gWx98z+ka29K7iz1cEvDSZe/kQuhASDzbtofDC7
      tXoJPJpjZG1XDuVtpCyp1xkCAwEAATANBgkqhkiG9w0BAQsFAAOCAQEAKR17jnhQ
      RP6oe+PSK3/OirCfy05b6iTCh4cD8t2ZQo3oYXPO8YTuwTsPI9XNt267LIRBtdWH
      uLILZxlrH1NRrm29Z2iTqA58CJ2ymBUjZ9BgeEOGmMxQGNz/GxOJLRXJX+jTwk3v
      egpC/w7vji272HNBAcwVnl1pcw72c/kU3Fqmdmz0t/LAHazmznO2l/dEXRH2loXt
      GLaYSocp/dXD+lDv+/XOnepzDrgv+Z/KeLhb6Kd9+V+XonioRMJxpNvFvwlAQ/+W
      lXefilbSvCAsvyYqqA+vySpejfYf1oazxjd5zRkGAvaHnZ3vNIqI0NL48iEs/wKR
      QGE4fhYEcOWO+w==
      -----END CERTIFICATE-----
