files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
        listen 443;
        server_name localhost;

        ssl on;
        ssl_certificate /etc/pki/tls/certs/server.crt;
        ssl_certificate_key /etc/pki/tls/certs/server.key;

        ssl_session_timeout 5m;

        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_prefer_server_ciphers on;

        location / {
          proxy_pass http://nodejs;
          proxy_set_header Connection "";
          proxy_http_version 1.1;
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto https;
        }
      }

  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDTDCCAjQCCQD6HDwBJBhKWDANBgkqhkiG9w0BAQsFADBoMQswCQYDVQQGEwJS
      VTELMAkGA1UECAwCTk4xCzAJBgNVBAcMAk5OMRwwGgYDVQQKDBNEZWZhdWx0IENv
      bXBhbnkgTHRkMSEwHwYJKoZIhvcNAQkBFhJtb3Jzc2tvMUBnbWFpbC5jb20wHhcN
      MjExMDA2MTUxMDEyWhcNMjIxMDA2MTUxMDEyWjBoMQswCQYDVQQGEwJSVTELMAkG
      A1UECAwCTk4xCzAJBgNVBAcMAk5OMRwwGgYDVQQKDBNEZWZhdWx0IENvbXBhbnkg
      THRkMSEwHwYJKoZIhvcNAQkBFhJtb3Jzc2tvMUBnbWFpbC5jb20wggEiMA0GCSqG
      SIb3DQEBAQUAA4IBDwAwggEKAoIBAQC4qgOlUGZLLNF7yMIfOzBFu3ywXSBqoM5b
      4DQGReZLnOPjlmr5JCqzNtTGNmz0UlT9WfQejgA9d1NM7ObzPHE4zVmnEY2dDvsJ
      MxXhFR5S0I83zjW8hDxs8CW59sW68wXYSRQTM2U6PVbkREPh5PzHWS74rKVdtnNr
      I4fmmyCR2XxI/n//TH6PgmYa2qLtX5iKq1ah+9kI0VpfiJTjUY8wtRHxoqxbSQ1M
      wIOilAiOmpJa8k8V5Cr+EemPkntAbnkbc2AuBFbPm8ukivClECtccihUqlDSuTjn
      PszJHQAy0HIH0U8XIgU+Okffb5NmOFinYwMubg9iWfkoTz2zm/8/AgMBAAEwDQYJ
      KoZIhvcNAQELBQADggEBADIj3CbkgVttLqtsKAq4fj1ANlV3MXM4+vXpIWmqkMrw
      GJ38X6blD41HGaE8VN0Cjic+rkHWjgsQXrioM6nZZQWg64y5eQNHjut8Gy0uYB37
      Wq3zwR44Tiok2tw86BPJnXT62o67ewfLqqXoHhKAu59gC7m1w4iJ914B8F/6huqj
      w4QVl6btqhErLbYHbKmHf1rJEq0ZPWrhWY9AcR+l11d8oEIfsCpXj9srHr8bTSFE
      bTQ157ijc2+gzAqCCaPlpfQPfE0AFUsUYzH+6F6LoZUMSXCo1RRgSXbyovzh8zye
      5djG5v8hk8is2XTdgB1pnQN1sKC3rEW+ACdlabosx7I=
      -----END CERTIFICATE-----
