files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
        listen 443;
        server_name localhost;

        ssl on;
        ssl_certificate /etc/pki/tls/certs/server.crt;
        ssl_certificate_key /etc/pki/tls/certs/server.key;

        ssl_session_timeout 5m;

        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_prefer_server_ciphers on;

        location / {
          proxy_pass http://nodejs;
          proxy_set_header Connection "";
          proxy_http_version 1.1;
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto https;
        }
      }

  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDiDCCAnACCQD7BSz7yhHg3jANBgkqhkiG9w0BAQsFADCBhTELMAkGA1UEBhMC
      UlUxCzAJBgNVBAgMAk5OMQswCQYDVQQHDAJOTjEcMBoGA1UECgwTRGVmYXVsdCBD
      b21wYW55IEx0ZDEMMAoGA1UECwwDT1JHMQ0wCwYDVQQDDAROQU1FMSEwHwYJKoZI
      hvcNAQkBFhJtb3Jzc2tvMUBnbWFpbC5jb20wHhcNMjExMDA2MTIxMDM2WhcNMjIx
      MDA2MTIxMDM2WjCBhTELMAkGA1UEBhMCUlUxCzAJBgNVBAgMAk5OMQswCQYDVQQH
      DAJOTjEcMBoGA1UECgwTRGVmYXVsdCBDb21wYW55IEx0ZDEMMAoGA1UECwwDT1JH
      MQ0wCwYDVQQDDAROQU1FMSEwHwYJKoZIhvcNAQkBFhJtb3Jzc2tvMUBnbWFpbC5j
      b20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC5xFTSqkB8gZ0UZ+QO
      5QtD1sebsOZsfK5SWZy0gDvaKCIR8SfaCyjlEo1Ev4dzo6R6gD4LdvqT+kx5qD94
      dn7K1XEwimzWIiNf6OR1JOB2LgLIKdkXY11XFX4EnY2VSe/oKVOH5npyGFc8OfUE
      ILuWD7/cGEB1EM2JZbtwEAeYTA5tTgNt2DsTF6m0LHeUx9nGFcB6py951PfzCCD0
      MM7qx/npQAeUFTx196lkMNa5tQLmbxsIlegAM0U6ruORFahBqfpLQ/khflLfSRaN
      UMKSx+GojHYJLIYbyhndur3Ww0m84UKXa+JnzHvhx1e+k8Uk4I1+JuBMcsY1SWOF
      1pK9AgMBAAEwDQYJKoZIhvcNAQELBQADggEBAH98PjnahXQ08Zu4y74EY7Ozg6gz
      ts3SNU97WHzNurvLfJpHUS4fkJ+SlRDMmAXCKD1enSwDkg+eGeihzxnlDuUxDkFZ
      WEPzlXQz4v7savfxqfYgfpvJDY/gyie40h6Ms24h3lkOFgcIHSRa5kNIiARL/Oqp
      8S9tXzjtH/pqqhwSKFk3WNvDDZT0tmDPEaLmCBNgTcTih/zTOrX/UI5sbINffXLe
      UkWE9I3i/CymWtyf+Z2GtG+7yBLzUnwSY8+KOorRt1iTrv5wtmT/dr/RgOGw6JtL
      Xjs+UcB2DWd3677NsCjrn8N71Guc3fE9iLds1MJGKdXAc3a80LaeuFkfQr4=
      -----END CERTIFICATE-----
